body {
    font-family: sans-serif;
    background-image: linear-gradlent #A61F38, #1C3FA6, #D9AB23;
}
   
header {
    background-color: #D9AB23;
    border-bottom: 2px solid #1C3FA6;
    padding: 20px;
}

 .cabecalho {
    display: -flex;
    justify-content: space-around;
 }

h1 {
    color:blue;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: red;
    font-size: 40px;
    text-align: center;
}

p{
    color:blue  ;
    font-size: 30px;
    text-align: justify;
}

.logo {
   width: 500px;
   height: 500px;
   margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
   padding: 2px; /*define uma distância interna entre um elemento, ao redor da borda*/
   border: 0.2rem solid #00FFFF;
   border-radius: 20px;
}

.fotos {
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid #CD5C5C;
    border-radius: 24px;
}

.lista{
    font-size: 30px;
    color: red;
    list-style: none;
}
 .item-lista{
    display: inline-block;
    justify-content: space-between;
 }
