body {
    background-imager: linear-gradlent #A61F38, #1C3FA6, #D9AB23


}
    
h1 {

    color: rgb(80, 168, 250);
    font-size: 50px;
    text-align: center;
}

p{
    color: rgb(218, 218, 218);
    font-size: 30px;
    text-align: justify;
}

.logo {
   width: 200px;
   height: 200px;
   margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
   padding: 2px; /*define uma distância interna entre um elemento, ao redor da borda*/
   border: 0.2rem solid #00FFFF;
   border-radius: 20px;
}

.fotos {
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid #CD5C5C;
    border-radius: 24px;
}